---
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import Layout from '@/layouts/Layout.astro';
import { characters, series as seriesLib } from '@/lib/data';

export async function getStaticPaths() {
    return characters.map(character => {
        return {
            params: {
                name: character.name.toLowerCase().replace(/ /g, '-'),
            },
            props: {
                character,
                series: character.seriesId.map(id => {
                    return seriesLib.find(serie => serie.id === id);
                }),
            },
        };
    });
}

const { character, series } = Astro.props;
const { name, japaneseName, height, description, img, cast } = character;
---

<Layout
    title={`Personaje: ${name}`}
    description={`${name}: ${description.join(' ')}`}>
    <Section>
        <Title>Personajes</Title>
        <div
            class="m-auto max-w-xl items-center rounded-md bg-white p-2 text-center shadow">
            <div class="relative mb-28 h-44 w-full border border-golden p-2">
                <div
                    class="relative h-full w-full border border-golden bg-golden">
                </div>
                <div
                    class="absolute left-1/2 top-[28.2%] m-auto h-[250px] w-[250px] -translate-x-1/2 rounded-full bg-white">
                    <div
                        class="relative top-1/2 -z-10 h-[1px] border-b border-golden">
                    </div>
                    <figure class="p-1">
                        <img
                            src={img}
                            alt={name}
                            class="m-auto w-10/12 rounded-full shadow-lg sm:w-full"
                        />
                    </figure>
                </div>
            </div>
            <div class="p-8 pt-4">
                <h2 class="text-4xl">{name}</h2>
                <p class="text-base">{japaneseName}</p>

                <div class="mt-5 space-y-4">
                    <p class="text-golden">
                        <span class="text-gray-950">CV:</span>{' '}
                        {
                            Object.values(cast).map((value, index) => (
                                <>
                                    <a
                                        class="ease-in-out hover:underline"
                                        href={value.link}>
                                        {value.name}
                                    </a>
                                    {index < Object.values(cast).length - 1 &&
                                        ', '}
                                </>
                            ))
                        }
                    </p>
                    <p>
                        <span class="text-gray-950">Altura:</span>{' '}
                        {height / 100}m
                    </p>
                    <div
                        class="rounded bg-beige-light px-5 py-3 text-left shadow-sm">
                        <h3
                            class="mb-2 border-b border-golden pb-1 text-gray-900">
                            Descripción:
                            <div class="mt-1 border-b-2 border-golden"></div>
                        </h3>
                        <p class="text-left text-lg">{description.join(' ')}</p>
                    </div>
                    {
                        series && series.length > 0 && (
                            <div class="rounded px-5 pb-3 text-left">
                                <h3 class="mb-2 border-b border-golden pb-1 text-gray-900 ">
                                    Series de aparición
                                    <div class="mt-1 border-b-2 border-golden" />
                                </h3>
                                <div class="snap h-auto snap-x overflow-x-auto scroll-smooth ">
                                    <div class="flex gap-4 p-2 pb-4">
                                        {series.map(serie => (
                                            <a
                                                class="group m-auto block w-80 flex-shrink-0 snap-start overflow-hidden rounded-md border bg-sky-950 shadow duration-100 ease-linear hover:-translate-y-1"
                                                href={serie?.website}>
                                                <h4 class="max-h-full truncate px-3  text-center text-base text-white duration-200">
                                                    {serie?.name ===
                                                    'Violet Evergarden'
                                                        ? `Violet Evergarden - ${serie.type}`
                                                        : serie?.name}
                                                </h4>
                                                <figure class="overflow-hidden pb-2 shadow-md">
                                                    <img
                                                        src={serie?.imgPage}
                                                        alt={serie?.name}
                                                        class="w-full object-cover"
                                                    />
                                                </figure>
                                            </a>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        )
                    }
                </div>
            </div>
        </div>
        <a
            href=`/characters/#${character.name.toLowerCase().replace(/ /g, '-')}`
            class="m-auto mt-4 block w-max p-1 text-base text-golden-light duration-200 hover:text-golden hover:underline">
            Volver a la lista de personajes</a
        >
    </Section>
</Layout>
