---
import Section from '@/components/Section.astro';
import Title from '@/components/Title.astro';
import Layout from '@/layouts/Layout.astro';
import { characters, series as seriesLib } from '@/lib/data';

export async function getStaticPaths() {
    return characters.map(character => {
        return {
            params: {
                name: character.name.toLowerCase().replace(/ /g, '-'),
            },
            props: {
                character,
                series: character.seriesId.map(id => {
                    return seriesLib.find(serie => serie.id === id);
                }),
            },
        };
    });
}

const { character, series } = Astro.props;
const { name, japaneseName, height, description, img, cast } = character;
---

<Layout
    title={`Personaje: ${name}`}
    description={`${name}: ${description.join(' ')}`}>
    <Section>
        <Title>{name}</Title>
        <div>
            <div>
                <img src={img} alt={name} />
            </div>
            <>
                <h2>{name}</h2>
                <p>{japaneseName}</p>
                {
                    Object.values(cast).map((value, index) => (
                        <>
                            <a href={value.link}>{value.name}</a>
                            {index < Object.values(cast).length - 1 && ', '}
                        </>
                    ))
                }
                <p>{height / 100}m</p>
            </>
            <div>
                <h3>Descripción</h3>
                <p>{description.join(' ')}</p>
            </div>
        </div>
        {
            series.length > 0 && (
                <div>
                    <h3>Series</h3>
                    <ul>
                        {series.map(serie => (
                            <li>
                                <a href={serie?.website}>{serie?.name}</a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
    </Section>
</Layout>
