---
import { Language, type Cast } from '@/lib/dataTypes';

interface Props {
    name: string;
    japaneseName: string;
    serie: string[];
    casts: { [key in Language]?: Cast };
    height: number;
    class?: string;
}

const {
    name,
    japaneseName,
    serie,
    height,
    casts,
    class: className,
} = Astro.props;
const url = `/characters/${name.toLowerCase().replace(/ /g, '-')}/#navBar`;
---

<tr class:list={[className]}>
    <td class="cell hover:scrollbar-golden"><a href={url}>{name}</a></td>
    <td class="cell hover:scrollbar-golden text-sm"
        ><a href={url}>{japaneseName}</a>

        {serie?.map(s => <td class="cell hover:scrollbar-golden cellLower">{s}</td>)}
        <td class="cell hover:scrollbar-golden cellLower">{height / 100}m</td>
        {
            Object.values(casts).map(cast => (
                <td class="cell hover:scrollbar-golden text-sm">
                    <a href={cast.link ? cast.link : '#'}>{cast?.name}</a>
                </td>
            ))
        }
    </td>
</tr>
