---
export interface Props {
    name: string;
    img: string;
    description: string[];
}

const { name, img, description } = Astro.props;
const url = `/characters/${name.toLowerCase().replace(/ /g, '-')}/#navBar`;
---

<a
    class="group m-auto mb-8 mt-2 block w-full max-w-sm overflow-hidden rounded-sm bg-white shadow last:mb-0 hover:cursor-pointer md:max-w-4xl"
    href={url}>
    <h3
        class="bg-golden-light py-1 text-center font-normal tracking-wide text-white">
        {name}
    </h3>
    <div class="h-full p-4 md:h-[416px]">
        <div
            class="w-full overflow-hidden rounded-sm shadow group-odd:float-left group-even:float-right md:h-96 md:w-1/2">
            <img
                src={img}
                alt={name}
                class="h-full w-full scale-100 object-cover duration-200 ease-in group-hover:scale-105"
            />
        </div>

        <div
            class="h-full pt-4 group-odd:float-right group-even:float-left md:w-1/2 md:pt-0 group-odd:md:pl-4 group-even:md:pr-4">
            <p class="a md:relative md:top-1/2 md:-translate-y-1/2">
                {
                    description.map(content => (
                        <font class="inline-block">{content}</font>
                    ))
                }
                <font
                    class="relative block text-center text-golden opacity-0 duration-300 ease-in-out hover:underline hover:!opacity-100 group-hover:opacity-70"
                    >Ver más</font
                >
            </p>
        </div>
        <div class="clear-both"></div>
    </div>
</a>
