---
export interface Props {
    name: string;
    img: string;
    description: string[];
}

const { name, img, description } = Astro.props;
const nameid = name.toLowerCase().replace(/ /g, '-');
const url = `/characters/${nameid}/#navBar`;
---

<article
    id={nameid}
    class="group m-auto flex h-36 w-full max-w-md grid-cols-subgrid flex-row overflow-hidden rounded-lg bg-white shadow duration-200 ease-in-out hover:shadow-lg md:h-52">
    <figure class="h-full w-1/3 overflow-hidden">
        <img
            src={img}
            alt={name}
            class="h-full overflow-hidden rounded-sm object-cover"
        />
    </figure>
    <div class="h-full w-2/3">
        <div
            class="flex h-4/5 w-full flex-col content-center justify-center px-4 text-xl md:text-2xl">
            <h3 class="mb-1 line-clamp-1 w-full tracking-wide text-golden">
                {name}
            </h3>
            <div
                class="line-clamp-3 w-full text-pretty text-base text-neutral-700 md:text-lg">
                {description.map(content => <p class="inline">{content} </p>)}
            </div>
        </div>
        <div
            class="flex h-1/5 w-full flex-row items-center justify-between border-t px-6 text-base font-medium duration-200 ease-in-out group-hover:border-t-golden-light md:px-4 md:text-lg">
            <a
                class="transition-all duration-200 ease-in-out hover:text-golden active:translate-x-0 group-hover:translate-x-1.5"
                href={url}>Ver más</a
            >
        </div>
    </div>
</article>
